/* Table landscape*/
@media screen and (max-width: 1024px) and (max-height: 768px) {
    nav > ul li a {
        font-size: 2.4vw;
        font-family: RalewayRegular;
        height: 4vw;
        line-height: 4vw;
        letter-spacing: 0.15vw;

    }

    .pigm1 {
        min-height: 97%;
    }

    .logo {
        height: 33vh;
    }

    .text-block {
        width: 45vw;
        color: white;
        line-height: 2.5vw;
        font-size: 2.2vw;
    }

    .text {
        height: 65vw;
    }

    .price-cost {
        height: 14vw;
    }

    .service-list p {
        font-size: 2.2vw;
    }

    .service-list p:nth-of-type(2) {
        font-size: 1.9vw;
    }

    .png-block{
        font-size: 1.5vw;
    }

    .mfp-image-holder .mfp-close{
        top: 3.5vw;
        left: -.5vw;
    }
}

/*Portrait tablets and small desktops*/
@media screen and (max-width: 768px) and (max-height: 1024px) {
    .up, .right, .bottom, .left {
        display: none;
    }

    nav {
        left: 0;
        width: 25%;
    }

    nav > ul li a {
        font-size: 3vw;
        height: 6vw;
        line-height: 6vw;
        letter-spacing: 0.15vw;

    }

    .logo {
        height: 10vh;
    }

    .slogan {
        height: 20vh;
    }

    aside {
        background-size: cover;

    }

    .advantages, .share, .gallery, .png {
        margin: 4vw;
    }

    .gallery, .png{
        margin-top: 0;
    }

    .service-title, .service-list, .map{
        margin: 2vw;
    }

    .text {
        margin: 4vw;
        margin-bottom: 0;
        height: 60vw;
    }

    .text > p {
        font-size: 3vw;
    }

    .text-block {
        width: 50vw;
        line-height: 4vw;
        font-size: 2.8vw;
    }

    .slogan {
        font-size: 4vw;
    }

    .advantages > span, .share > span, .service-title > span {
        font-size: 3.5vw;
    }

    .advantages ul li, .share > p, .share p.address {
        font-size: 2.9vh;
        line-height: 4.5vh;
    }

    #logo {
        width: 15vw;
    }

    .price-cost {
        height: 22vw;
    }

    .service-list p {
        font-size: 2.5vw;
    }

    .service-list p:nth-of-type(2) {
        font-size: 2vw;
    }

    .service-list ul li {
        font-size: 2vw;
    }

    .png-block{
        font-size: 1.6vw;
    }

    .mfp-image-holder .mfp-close{
        top: 5vw;
    }
}

/*Small landscape tablets and small desktops*/
@media screen and (max-width: 800px) and (max-height: 600px) {

    #logo {
        width: 15vw;
    }

    .logo {
        height: 15vh;
    }

    .nav {
        width: 25%;
    }

    nav > ul li a {
        font-size: 2.5vw;
        height: 5vw;
        line-height: 5vw;
        letter-spacing: 0.15vw;

    }

    .pigm1 {
        min-height: 100%;
    }

    .slogan {
        height: 55vh;
    }

    .advantages > span, .share > span, .service-title > span {
        font-size: 3vw;
    }

    .advantages ul li, .share > p, .share p.address {
        font-size: 3.7vh;
        line-height: 4.5vh;
    }

    .text {
        height: 65vw;
    }

    .text-block {
        width: 45vw;
        line-height: 4vw;
        font-size: 2.5vw;
    }

    .price-cost {
        height: 15vw;
    }

    .service-list ul li {
        font-size: 2vw;
    }

}

/*Small tablets portrait*/
@media screen and (max-width: 600px) and (max-height: 800px) {
    .wrapper {
        flex-direction: column;
    }

    aside {
        height: 20vw;
        width: 100%;
        background-color: #222222;
        background-image: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    main {
        margin-top: 20vw;
    }

    nav {
        display: none;
    }

    #logo {
        position: absolute;
        top: 0;
        left: 50%;
        margin: 0 auto;
        width: 20vw;
        margin-left: -10vw;
    }

    .title::before {
        left: 15%;
    }

    .title::after {
        right: 15%;
    }

    .title > span {
        font-size: 7vw;
    }

    .slogan {
        font-size: 5vw;
    }

    .pigm1 {
        min-height: 90%;
    }

    .advantages, .share, .service-title, .service-list, .map, .gallery, .png {
        margin: 0;
        padding: 3vw;
    }

    .share {
        margin-top: 5vw;
    }

    .advantages > span, .share > span, .service-title > span {
        font-size: 4vw;
    }

    .text {
        margin: 0;
        margin-top: 5vw;
    }

    .text-block {
        width: 70%;
        line-height: 4vw;
        font-size: 3vw;
    }

    .btn-menu {
        display: block;
    }

.pigm3{
    background-position: 0 -15vw;
    background-repeat: no-repeat;
}

    .service-list p{
        font-size: 3.5vw;
    }

    .service-list p:nth-of-type(2){
        font-size: 2.8vw;
    }

    .service-list ul li {
        font-size: 2.5vw;
    }

    .png-block{
        font-size: 2.5vw;
        line-height: 3vh;
        flex-basis: 40%;
    }

    .mfp-image-holder .mfp-close{
        top: 6vw;
    }

    .png{
        flex-wrap: wrap;
        justify-content: center;
    }

}

/*Mobile portrait portrait and smaller*/
@media screen and (max-width: 320px) and (max-height: 480px) {

    .btn-menu span {
        height: 1px;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.first {
        -webkit-transform: rotate(45deg);
        top: 6px;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.second {
        opacity: 0;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.third {
        -webkit-transform: rotate(-45deg);
        top: -6px;
    }

    .pigm1 {
        min-height: 100%;
    }

    .slogan {
        height: 20vh;
    }

    .advantages > span, .share > span {
        font-size: 5vw;
    }

    .advantages ul li, .share > p, .share p.address {
        font-size: 3vh;
        line-height: 4vh;
    }

    .advantages, .share, .service-title, .service-list, .map {
        margin: 0;
        padding: 3vw;
    }

    .share {
        margin-top: 5vw;
    }

    .text {
        margin: 0;
        margin-top: 5vw;
    }

    .text-block {
        line-height: 4vw;
        font-size: 4vw;
        width: 80%;
    }

    .text {
        height: 75vw;
    }

    .text > p {
        font-size: 4.3vw;
    }

    .price-cost {
        height: 24vw;
    }

    .png-block{
        font-size: 2.5vw;
        line-height: 3vh;
        flex-basis: 30%;
    }

    .mfp-image-holder .mfp-close{
        top: 12vw;
    }

    .png{
        flex-wrap: wrap;
        justify-content: center;
    }


}
