@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.loaderArea {
    background-color: white;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.loader:before,
.loader:after {
    content: "";
    height: 6vw;
    width: 6vw;
    border: 0.6vw solid rgba(32, 0, 255, 0.62);
    border-radius: 1.9vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3vw;
    margin-top: -3vw;
}

.loader:before {
    animation: animate 2s infinite linear;
}

@keyframes animate {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(180deg) skew(360deg);
    }
}

.loader:after {
    animation: animate2 2s infinite linear;
}

@keyframes animate2 {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(-180deg) skew(-360deg);
    }
}

.up, .right, .bottom, .left {
    position: fixed;
    background-color: white;
    z-index: 99999;
}

.up {
    top: 0;
    left: 0;
    width: 100vw;
    height: 2vw;
}

.right {
    top: 0;
    right: 0;
    width: 2vw;
    height: 100vh;
}

.bottom {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 2vw;
}

.left {
    top: 0;
    left: 0;
    width: 2vw;
    height: 100vh;
}

body, html, nav > ul {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.btn-menu {
    display: none;
}

.wrapper {
    display: flex;
    transition: margin-top .5s;
}

aside {
    flex: 1 1 25%;
    background: url("../img/vvv-9.jpg") no-repeat fixed;
    background-size: contain;
    background-color: rgb(182, 182, 182);
    z-index: 20;

}

nav {
    position: fixed;
    top: 35%;
    left: 2vw;
    width: 23%;

}

#logo {
    position: fixed;
    top: 3vw;
    left: 3vw;
    width: 12vw;
}

nav > ul li {
    list-style: none;
    transition: .5s;

}

nav > ul li::after {
    content: "";
    display: block;
    background-color: rgba(160, 160, 160, 0.41);
    height: 1px;
}

nav > ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: .3s;

}

nav > ul li a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-left: 2vw;
    font-size: 1.7vw;
    font-family: RalewayRegular;
    text-transform: uppercase;
    height: 3vw;
    line-height: 3vw;
    text-shadow: #000000 5px 5px 4px;
    letter-spacing: 0.15vw;
    font-weight: 900;

}

.pigm1, .pigm2 {
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    transition: margin-top .5s;
}

.pigm1 {
    background: url("../img/pigm1.jpg") fixed;
    background-size: cover;
}

.pigm2 {
    background: url("../img/pigm2.jpg") fixed;
    background-size: cover;
}

section {
    display: flex;
    flex: 1 1 75%;
    flex-direction: column;
    overflow: hidden;
}

main, .service {
    transition: transform 1s;
    background-color: #f3f3f3;
    z-index: 10;
}

.hide {
    height: 0;
    transform: scale(0);
    transition: 2s;

}

.logo {
    width: 15vw;
    height: 20vh;
    background: url("../img/silut.png") no-repeat;
    background-size: 15vw;
    margin: 0 auto;
    margin-top: 10vh;

}

.title {
    text-align: center;
    margin: 0 auto;
    margin-top: 2vw;
    position: relative;
}

.title > span {
    font-family: RalewayRegular;
    font-weight: 400;
    font-size: 6vw;
    color: #222222;
}

.title::before, .title::after {
    content: "";
    display: block;
    width: 10vw;
    height: .5vw;
    position: absolute;
    background-color: #222222;
    margin-top: -0.25vw;
}

.title::before {
    top: 50%;
    left: 5%;
}

.title::after {
    top: 50%;
    right: 5%;
}

.slogan {
    width: 50vw;
    height: 25vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 5vw;
    font-family: RalewayRegular;
    font-size: 3.5vw;
    color: #222222;
}

.slogan img {
    display: block;
    width: 9vw;
    margin: 0 auto;
    margin-top: 5vw;
}

.advantages, .share {
    margin: 2vw 4vw 2vw 2vw;
    text-align: center;
    background-color: white;
    padding: 2vw 0;
}

.advantages > span, .share > span {
    font-family: RalewayRegular;
    font-size: 3.5vw;
    /*color: #990000;*/
    color: #222222;
}

.advantages > img {
    width: 14vw;
    display: block;
    margin: 0 auto;
    margin-top: 2vw;
}

.advantages ul {
    margin: 0;
    padding: 0;
    text-align: justify;
    margin-top: 2vw;
    padding: 2vw;

}

.advantages ul li, .share > p {
    list-style-position: inside;
    list-style-type: decimal;
    color: #666;
    font-size: 3.4vh;
    line-height: 5vh;
    padding-right: 2vw;
}

.share {
    margin-top: 5vw;
    padding: 2vw;
}

.share > p {
    text-align: justify;
}

.share > img {
    width: 90%;
}

.text {
    margin-top: 5vw;
    height: 50vw;
    position: relative;
}

.text > p {
    color: white;
    font-size: 2.5vw;
    text-align: center;
    padding: 2vw;
    font-family: RalewayRegular;
}

.text > p::after {
    content: "";
    display: block;
    width: 10vw;
    height: 1px;
    background-color: white;
    margin: 0 auto;
    margin-top: 1vw;

}

.text-block {
    display: none;
    width: 35vw;
    color: white;
    margin: 0 auto;
    line-height: 2vw;
    font-size: 1.7vw;
}

.hidden-menu {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 25;
    background-color: #222222;
    height: 0;
    top: 20vw;
    left: 0;
    transition: height .5s;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu li a {
    color: #ffffff;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: RalewayRegular;
    font-size: 4vw;
    height: 6vw;
    line-height: 6vw;
    letter-spacing: 0.15vw;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    background-color: #222222;
    position: absolute;
    top: 10vw;
    left: 5vw;
    margin-top: -2.5vw;
    cursor: pointer;
    z-index: 25;
    width: 5vw;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}

.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked ~ .hidden-menu {
    height: 30vw;
}

.hidden-menu-ticker:checked ~ .wrapper,
.hidden-menu-ticker:checked ~ .wrapper .pigm1 {
    margin-top: 30vw;
}

.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}