@font-face {
    font-family: stamp-icons;
    src: url("../fonts/stamt-icons/stamp-icons.eot");
    src: url("../fonts/stamt-icons/stamp-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/stamt-icons/stamp-icons.woff") format("woff"), url("../fonts/stamt-icons/stamp-icons.ttf") format("truetype"), url("../fonts/stamt-icons/stamp-icons.svg#webfont") format('svg');
    font-weight: 400;
    font-style: normal;
}

.loading {
    /*overflow: hidden;*/
    height: 100vh;
}

/*.loading::-webkit-scrollbar {*/
/*width: 0px;*/
/*background: rgba(255, 255, 255, 0.0);*/
/*}*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99999;
}

#preloader .status {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    background: url('../img/loader-blue.gif') no-repeat;
    background-size: contain;
}

.icon-ecommerce-graph3:before {
    font-family: stamp-icons !important;
    content: "\e05a";
    font-size: 63.15px;
    font-weight: 500;
    color: #008ED6;
}

html, body {
    overflow-x: hidden;
}

.wrapper {
    transition: .5s;
}

.ibg-bg {
    background-color: rgba(0, 0, 0, 0.5) !important;
    background-blend-mode: darken;
    width: 100% !important;
}

header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
}

header img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 50px;
}

header a:nth-of-type(2) {
    float: right;
    line-height: 70px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    color: #313131;
    margin-right: 50px;
}

.hidden-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    line-height: 50px;
    text-align: center;
    transition: .5s;
}

.hidden-menu a {
    color: #313131;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
}

header a:nth-of-type(2):hover,
.hidden-menu a:hover {
    color: #008ed6;
    transition: .5s;
}

.hidden-menu-ticker {
    display: none;
}

.hamburger-menu {
    display: none;
    position: absolute;
    top: 35px;
    right: 20px;
    transform: translateY(-50%);
    height: 30px;
    width: 35px;
    margin: 0;
    cursor: pointer;
    z-index: 9999;
}

.hamburger-menu .icon-bar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: #008ed6;
    /*display: inline-block;*/
    transition: .3s;
}

.hamburger-menu .icon-bar:before,
.hamburger-menu .icon-bar::after {
    content: "";
    /*display: inline-block;*/
    position: absolute;
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: #008ed6;
    transition: .3s;
}

.hamburger-menu .icon-bar::before {
    top: -10px;
}

.hamburger-menu .icon-bar::after {
    top: 10px;
}

.hidden-menu-ticker:checked ~ .hamburger-menu .icon-bar {
    background-color: rgba(0, 142, 214, 0);
}

.hidden-menu-ticker:checked ~ .hamburger-menu .icon-bar::before {
    top: 0;
    transform: rotate(45deg);
}

.hidden-menu-ticker:checked ~ .hamburger-menu .icon-bar::after {
    top: 0;
    transform: rotate(-45deg);
}

.hidden-menu-ticker:checked ~ .hidden-menu {
    height: 50px;
}

.hidden-menu-ticker:checked ~ .wrapper,
.hidden-menu-ticker:checked ~ .description-how {
    margin-top: 120px;
}

.background {
    position: relative;
    top: 0;
    left: 0;
    height: 120vh;
}

.setka {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
}

.setka img {
    pointer-events: none;
    animation-duration: 3s;
    animation-delay: 1.5s;
}

.background h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 5vw;
    animation-duration: 2.5s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

.background h5 {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2vw;
    font-weight: 400;
    color: white;
    animation-duration: 2.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;

}

.background button {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 4s;
}

.btn {
    font-size: 2.2vw;
}

.clients {
    border-bottom: 1px solid #dadfe3;
    overflow: hidden;

}

.clients ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.clients ul li {
    margin: 30px;
    transition: .5s;
    display: inline-block;
}

.clients ul li img {
    height: 3.2vw;
    filter: grayscale(1);
    opacity: .6;
    transition: .8s;
}

.clients ul li img:hover {
    filter: grayscale(0);
    opacity: 1;
    transition: .8s;
}

.description, .description-how {
    padding: 80px 50px 115px;

}

.description {
    display: flex;
}

.description-text h2 {
    color: #1393dd;
}

.description-how h2 {
    text-transform: uppercase;
}

.description-text .colored-line-left {
    width: 80px;
    height: 3px;
    background-color: #008ed6;
}

.description-text .text {
    margin-top: 40px;
    text-align: justify;
}

.description-text .text p {
    margin: 0;
    font-weight: 300;
    font-size: 1.6vw;
}

.kirka {
    padding-left: 50px;
}

.kirka img {
    pointer-events: none;
    width: 40vw;
}

.mining {
    background-color: #F7F8FA;
}

.mining-header {
    padding: 90px 0 60px;
}

.mining-header h2 {
    margin: 0 0 20px;
    text-align: center;
    color: #1393DD;
}

.colored-line-center {
    width: 80px;
    height: 2.5px;
    background-color: #008ed6;
    margin: 0 auto;
}

.sub-heading {
    margin-top: 20px;
}

.sub-heading p {
    text-align: center;
    font-weight: 300;
    font-size: 1.6vw;
}

.services-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 50px;
}

.service-box {
    padding: 40px 35px 40px 35px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 4px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-radius: 3px;
    background: white;
    transition: .8s;
    margin-bottom: 30px;
    flex-basis: 360px;
}

.service-box h3 {
    text-align: center;
    color: #1393DD;
    font-size: 1.8vw;
    margin-bottom: 15px;

}

.service-box p {
    text-align: center;
    font-weight: 300;
}

.service-box:hover {
    border-bottom-color: #008ed6;
    transition: .8s;
}

.icon {
    color: #008ed6;
    text-align: center;
    margin-bottom: 35px;
}

/*.parallax-window {*/
/*background: rgba(0, 5, 8, 0.80);*/
/*}*/

.parallax-content {
    padding: 100px;
    text-align: center;
    overflow: hidden;
}

.parallax-content h2 {
    color: white;
    font-size: 3vw;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.parallax-content button {
    width: 120px;
    padding: 10px 30px;
}

.contacts-link a {
    text-decoration: none;
    color: #1393DD;
}

.contacts-link {
    padding: 70px;
    text-align: center;
    overflow: hidden;
}

.contacts-link p {
    font-weight: 600;
    font-size: 1.4vw;
    margin: 0;
}

.icon-mail:before {
    font-family: stamp-icons !important;
    content: "\e0a9";
    font-size: 30px;
    font-weight: 500;
    color: #1393DD;
}

footer {
    border-top: 1px solid #eaebec;
    border-bottom: 1px solid #eaebec;
    background: #f7f8fa;
    padding: 40px;
    text-align: center;
}

footer img {
    width: 255px;
    margin-bottom: 40px;
    pointer-events: none;
}

footer p {
    color: #000000;
    font-weight: 600;
    font-size: 1.4vw;
}

footer a {
    font-size: 2.5vw;
}

footer i {
    filter: grayscale(1);
    color: #313131;
    opacity: .5;
    margin: 0 3px;
    transition: .5s;
}

footer i:hover {
    filter: grayscale(0);
    opacity: 1;
    color: #313131;
    transition: .5s;
}

.description-how {
    margin-top: 70px;
    transition: .5s;
}

#scene {
    height: 120vh;
    overflow: hidden;
}

#scene1 {
    width: 100%;
    height: 120vh;
    background: url("../img/videoblocks-abstract-beautiful-geometric-background-with-moving-lines-dots-and-triangles-plexus-fantasy-abstract-technology-loop-animations_rd2adiwgw_thumbnail-full01.png");
    background-size: contain;
}

