html {
    overflow-x: hidden;
}

.background {
    height: 120vh;
}

.ibg-bg {
    background-color: rgba(0, 0, 0, 0.5) !important;
    background-blend-mode: darken;
}

header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
}

header img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 50px;
    max-width: 100%;
}

header a:nth-of-type(2) {
    float: right;
    line-height: 70px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    color: #313131;
    margin-right: 50px;
}

header a:nth-of-type(2):hover {
    color: #008ed6;
    transition: .5s;
}

.setka {
    position: absolute;
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
}

.background h1 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 56px;
}

.background h5 {
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    color: white;
}

button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    font-size: 28px;
}

.clients {
    border-bottom: 1px solid #dadfe3;
    overflow: hidden;

}

.clients ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.clients ul li {
    margin: 30px;
    transition: .5s;
    display: inline-block;
}

.clients ul li img {
    height: 40px;
    filter: grayscale(1);
    opacity: .6;
    transition: .8s;
}

.clients ul li img:hover {
    filter: grayscale(0);
    opacity: 1;
    transition: .8s;
}

main {
    /*border: 2px solid red;*/
}

.description {
    padding: 80px 50px 115px;
    /*border: 1px solid black;*/
}

.description:after {
    content: "";
    display: block;
    clear: both;
}

.description h2 {
    color: #1393dd;
}

.colored-line-left {
    width: 80px;
    height: 3px;
    background-color: #008ed6;
}

.text {
    width: 50%;
    float: left;
    margin-top: 40px;
    overflow: hidden;
}

.text p {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
}

.kirka {
    float: right;
    margin-top: -50px;
    overflow: hidden;
}

.kirka img {
    pointer-events: none;
}

.mining {
    clear: both;
    background-color: #F7F8FA;
}

.mining-header {
    padding: 90px 0 60px;
}

.mining-header h2 {
    margin: 0 0 20px;
    text-align: center;
    color: #1393DD;
}

.colored-line-center {
    width: 80px;
    height: 2.5px;
    background-color: #008ed6;
    margin: 0 auto;
}

.sub-heading {
    margin-top: 20px;
}

.sub-heading p {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

.service-box {
    padding: 40px 35px 40px 35px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 4px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-radius: 3px;
    background: white;
    transition: .8s;
}

.service-box h3 {
    text-align: center;
    color: #1393DD;
    font-size: 24px;

}

.service-box p {
    text-align: center;
    font-weight: 300;
}

.service-box:hover{
    border-bottom-color: #008ed6;
    transition: .8s;
}

.icon {
    color: #008ed6;
    text-align: center;
    margin-bottom: 35px;
}